<% content_for :title do %>DebtRidgeDash<% end %>

<div class="gridster"> <!-- Main Panel - PAGE 1 -->
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="clock" data-view="Clock" data-color="#FF0000"></div>
    </li>
	<li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
		<div data-id="recirculation_pump" data-view="Haswitch" data-title="Recirculation Pump" data-color="#FF0000"></div>
	</li>
	<li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
		<div data-id="hrv_ventilation" data-view="Haswitch" data-title="Ventilation" data-color="#FF0000"></div>
	</li>
	<li data-row="1" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="backdoor_nitelite" data-view="Hadimmer" data-title="Backdoor NightLight" data-color="#FF0000"></div>
    </li>
	<li data-row="1" data-col="6" data-sizex="1" data-sizey="1">
      <div data-id="mudroom_nitelite" data-view="Hadimmer" data-title="Mudroom NightLight" data-color="#FF0000"></div>
    </li>


    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="heat_setpoint" data-view="Hasensor" data-title="Heat Setpoint" data-unit="&deg;F" data-color="#FF0000"></div>
    </li>
    <li data-row="2" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="cool_setpoint" data-view="Hasensor" data-title="Cool Setpoint" data-unit="&deg;F" data-color="#FF0000"></div>
    </li>
    <li data-row="2" data-col="5" data-sizex="2" data-sizey="2">
      <div data-id="weather" data-view="Haweather"> data-unit="&deg;C" data-color="#FF0000"</div>
    </li>

	<li data-row="3" data-col="1" data-sizex="1" data-sizey="1">
		<div data-id="radon_daily" data-view="Hasensor" data-title="1 Day Radon" data-color="#FF0000"></div>
	</li>
	<li data-row="3" data-col="2" data-sizex="1" data-sizey="1">
		<div data-id="radon_weekly" data-view="Hasensor" data-title="7 Day Radon" data-color="#FF0000"></div>
	</li>
    <li data-row="3" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="outside_temperature" data-view="Hasensor" data-title="Outside Temperature" data-unit="&deg;F" data-color="#FF0000"></div>
    </li>
    <li data-row="3" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="inside_temperature" data-view="Hasensor" data-title="Inside Temperature" data-unit="&deg;F" data-color="#FF0000"></div>
    </li>
  </ul>
</div>
